* {
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    padding: 20px;
    background-color: #36363ab1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #slotFace {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
    
  }

  .slotWindows {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 300%;
  }

  .slotWindows {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 140px;
    margin: 0 20px;
  }

  #slotWindow1, #slotWindow2, 
  #slotWindow3{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px;
    border-style: solid;
    border-radius: 30px;
    background-color: deeppink;
    width: 130px;
    margin: 3px; 
  }


  #balance {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  
    #win, #Lost {
  visibility: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: bold;
  margin-top: 0px;
  text-align: center;

}

#betButton,
#cashOutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110%;
  height: 100%;
  padding: 12px 20px;
  border: 15px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: deeppink;
  margin-top: 40px;
  cursor: pointer;
  border-style: double;
}

#betButton:hover,
#cashOutButton:hover {
  background-color: pink;
}