* {
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    padding: 20px;
    background-color: #1105ef72;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
  }

  .slotWindows {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .slotWindow {
    width: 100px;
    height: 150px;
    margin: 0 20px;
    position: relative;
  }

  #slotWindow1, #slotWindow2, 
  #slotWindow3{
    padding: 40px;
    width: 5%;
    
    
  }


  #balance {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  
    #win, #Lost {
  visibility: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

#betButton,
#cashOutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #4CAF50;
  margin-top: 40px;
  cursor: pointer;
}

#betButton:hover,
#cashOutButton:hover {
  background-color: #3e8e41;
}